@use '../../abstracts' as *;
.button {
  padding: 1rem 2rem;
  min-width: 25vw;
  max-width: 30vw;
  border: none;
  color: $white;
  background-color: $black;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.primary {
  font-size: 1.25rem;
  font-weight: 800;
  background: $primary;
}
